@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  box-sizing: border-box;
}

html,body{
    user-select: none;
}

body {
  margin: 0;
  font-family: "noto sans jp", sans-serif;
  background-color: #333;
  color: #fff;
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
}

h2 {
  font-weight: 400;
  font-size: 37px;
  margin: 6px;
}

.bg1 {
  background: #222;
}

.bg2 {
  background: #f4f4f4;
  color: #333;
}

h2 span {
  font-size: 27px;
}

.grid-container {
  display: grid;
  grid-gap: 0.6vh;
  grid-template-areas:
    "block-1 block-1 block-2 block-3"
    "block-4 block-5 block-6 block-6"
    "block-7 block-8 block-9 block-9"
    "block-10 block-10 block-11 block-12";
}

.grid-container div {
  height: 24.44vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  transition: all 0.3s ease-out;
  position: relative;
}

.grid-container div:focus, .grid-container div:hover{
    transform: scale(0.98);
}

.grid-container div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
}

.grid-container div * {
    z-index: 3;
}

.grid-container div:hover::before, .grid-container div:focus::before {
  background-color: rgba(0, 0, 0, 0);
}

.block-1 { grid-area: block-1; }
.block-2 { grid-area: block-2; }
.block-3 { grid-area: block-3; }
.block-4 { grid-area: block-4; }
.block-5 { grid-area: block-5; }
.block-6 { grid-area: block-6; }
.block-7 { grid-area: block-7; }
.block-8 { grid-area: block-8; }
.block-9 { grid-area: block-9; }
.block-10 { grid-area: block-10; }
.block-11 { grid-area: block-11; }
.block-12 { grid-area: block-12; }

/* making web page responsive to all screen sizes */
/* using Media queries.... */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-areas:
      "block-1 block-1 block-2"
      "block-3 block-4 block-4"
      "block-5 block-6 block-7"
      "block-8 block-8 block-9"
      "block-10 block-11 block-12";
  }

  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background-color: #111;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #444;
    border: 2px solid #111;
    border-radius: 20px;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-weight: 400;
    font-size: 30px;
    margin: 5px;
  }

  h2 span {
    font-size: 20px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #111;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #444;
    border: 2px solid #111;
    border-radius: 20px;
  }
}
@media screen and (max-width: 576px) {
  .grid-container {
    grid-template-areas:
      "block-1 block-1"
      "block-2 block-3"
      "block-4 block-4"
      "block-5 block-6"
      "block-8 block-8"
      "block-7 block-9"
      "block-10 block-11"
      "block-12 block-12";
  }

  h2 {
    font-weight: 400;
    font-size: 27px;
    margin: 5px;
  }

  h2 span {
    font-size: 18px;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background-color: #111;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #444;
    border: 2px solid #111;
    border-radius: 20px;
  }
}

@media screen and (max-width: 420px) {
  h2 {
    font-weight: 400;
    font-size: 25px;
    margin: 5px;
  }

  h2 span {
    font-size: 15px;
  }
}

@media screen and (max-width: 350px) {
  h2 {
    font-weight: 300;
    font-size: 22px;
    margin: 4px;
  }

  h2 span {
    font-size: 13px;
  }
}
